@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Stephen Melben Corral</h3>

<address>
    Churchill Crescent<br />
    Concord, New South Wales<br />
    <abbr title="Phone">P:</abbr>
    0416.899.929
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:corralstephenmelben@gmail.com">corralstephenmelben@gmail.com</a><br />
    @*<strong>LinkedIn:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>